.mat-mdc-table {
  @apply bg-transparent;
}

.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row {
  @apply bg-azure-250/90 dark:bg-slate-800/90 backdrop-blur-lg;
}

table {

  .change-device-name-btn {
    @apply text-azure-800 dark:text-white;
  }

  ::ng-deep {
    --mdc-switch-selected-icon-size: 16px;
    --mdc-switch-unselected-icon-size: 16px;
    --mat-switch-with-icon-handle-size: 18px;
    --mat-switch-selected-with-icon-handle-horizontal-margin: 0 24px;
    --mat-switch-unselected-with-icon-handle-horizontal-margin: 0 4px;

    --mdc-switch-track-height: 25px;
    --mdc-switch-track-shape: 9999px;
    --mdc-switch-track-width: 46px;
    --mat-switch-track-outline-width: 2px;
    --mat-switch-selected-track-outline-width: 2px;
    --mat-switch-disabled-unselected-track-outline-width: 2px;

    --mdc-switch-state-layer-size: 30px;

    --mat-switch-label-text-line-height: 0.25rem;
    --mat-switch-label-text-size: 0.875rem;
    --mat-switch-label-text-tracking: 0.016rem;
    --mat-switch-label-text-weight: 400;

    --mat-switch-unselected-handle-size: 20px;
    --mat-switch-unselected-handle-horizontal-margin: 0 8px;
    --mat-switch-unselected-pressed-handle-horizontal-margin: 0 2px;

    --mat-switch-selected-handle-size: 02px;
    --mat-switch-selected-handle-horizontal-margin: 0 24px;
    --mat-switch-selected-pressed-handle-horizontal-margin: 0 22px;

    --mat-switch-pressed-handle-size: 20px;

    --mdc-filled-button-container-height: 34px;

    --mdc-icon-button-state-layer-size: 24px;
    --mdc-icon-button-icon-size: 16px;

    .mat-mdc-icon-button .mat-mdc-button-touch-target {
      height: 24px;
      width: 24px;
    }

  }
}
