.router-info-container {
  @apply grid grid-cols-2 w-full gap-6 mt-5;

  .router-info-row {
    @apply grid-cols-subgrid col-span-2 grid gap-x-2 text-azure-800 dark:text-white;

    .router-info-label {
      @apply text-lg font-bold justify-self-end self-center;
    }

    .router-info-value {
      @apply text-lg;
    }

    .connection-action {
      @apply w-full flex justify-start relative items-center;

      .connection-action-btn {
        @apply ml-6;
      }

      .change-network-btn {
        @apply -top-0.5;
      }

      ::ng-deep {
        .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__notch {
          border-left-width: 0;
          border-right-width: 0;
        }

        .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
          display: none;
          visibility: hidden;
        }
      }

    }

  }

}
