<div class="login-wrapper">
    <rha-header/>
    <h1 class="login-header">Login password</h1>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field class="w-full">
            <mat-label>Enter your password</mat-label>
            <input matInput formControlName="password" [type]="inputType()" autocomplete="current-password">
            <button mat-icon-button matSuffix (click)="clickEvent($event)" class="mr-2" type="button">
                <i-lucide [name]="suffixIcon()"/>
            </button>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit" class="w-full" [disabled]="loginForm.invalid">
            Login
        </button>
    </form>
    <button mat-button color="primary" type="button" (click)="showForgotonPasswordDialog()">
        Did you forget your password?
    </button>
</div>
