<div class="admin-wrapper">
    <rha-header class="col-span-3"/>
    <div class="admin-container__sidebar">
        @for (item of sidebar(); track item.label) {
            <a [routerLink]="item.route" class="admin-sidebar__item" routerLinkActive="active" mat-ripple>
                <span>{{ item.label }}</span>
            </a>
        }
    </div>
    <section class="admin-container__content">
        <div class="admin-container__scroll-wrapper">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>
