<div class="ussd-grid">
    @for (ussdCode of ussdCodes(); track ussdCode.value) {
        <div class="ussd-card" role="button" (click)="showConfirmationUssdCode(ussdCode)" mat-ripple>
            @if (processingUssdCode() === ussdCode.value) {
                <div class="processing-indicator"></div>
            }
            <span class="ussd-name">{{ ussdCode.name }}</span>
            @if (ussdCode?.bonus) {
                <span class="ussd-bonus">{{ ussdCode.bonus }}</span>
            }
            @if (ussdCode?.price) {
                <span class="ussd-price">{{ ussdCode.price | currency }}</span>
            }
        </div>
    }
</div>
